.add-to-cart {
  margin-top: 20px;
  margin-bottom: 10px;
}

.add-to-cart-btn {
  transition: 0.3s linear;
  background: #222831;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  padding: 0;
  margin: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);

  & span {
    transition: transform 0.3s;
    display: inline-block;
  }

  .shopping-cart,
  .shopping-cart-checked {
    background: #ef476f;
    border: 0;
    padding: 13px 20px;
    font-size: 1.3em;
  }

  .shopping-cart-checked {
    transform: translateX(-100%);
    position: absolute;
    background: #5dade2;
    color: #f4f4f4;
    z-index: 1;
    left: 0;
    top: 0;
  }

  .add {
    z-index: 3;
    font-weight: bolder;
    padding: 13px 25px 13px 18px;
    font-size: 1.1em;
  }

  &:hover .shopping-cart {
    transform: translateX(-110%);
  }

  &:hover .shopping-cart-checked {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 520px) {
  .add-to-cart-btn {
    .shopping-cart,
    .shopping-cart-checked {
      font-size: 1em;
    }
    .add {
      font-size: 0.8em;
    }
  }
}
