.button-container {
  min-width: 120px;
  width: auto;
  height: 50px;
  padding: 0 15px 0 15px;
  margin: 5px 0px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  background-color: #222831;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  transition: all 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: white;
    color: #222831;
    border: 1px solid #222831;
  }

  .google-icon {
    margin: 0px 8px 0px 5px;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #0066cc;
      border: none;
    }
  }

  &.inverted {
    background-color: white;
    color: #222831;
    border: 1px solid #222831;

    &:hover {
      background-color: #222831;
      color: white;
      border: none;
    }
  }
}
