.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;

    @media screen and (max-width: 800px) {
      width: 45px;
      padding: 0;
    }

    @media screen and (max-width: 525px) {
      width: 30px;
    }
  }

  .nav-links-container {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 525px) {
      width: 90%;
    }

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;

      @media screen and (max-width: 525px) {
        padding: 10px 7px;
        font-size: 12px;
      }
    }
  }
}
