.admin-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-login-container {
  width: 420px;
  padding: 20px 25px 40px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);

  h2 {
    margin-bottom: 10px;
    text-align: center;
  }
}
