.cart-icon-container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-cart {
    width: 35px;
    height: 35px;
  }

  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    top: 0px;
  }
}
