* {
  box-sizing: border-box;
}

$primaryColor: #5dade2;

body {
  margin: 0;
  padding: 20px 40px;
  color: #222831;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: 400px) {
    padding: 20px 20px;
  }
}

a {
  text-decoration: none;
  color: #222831;
}
