* {
  box-sizing: border-box;
}

$primaryColor: #5dade2;

body {
  margin: 0;
  padding: 0;
  color: #222831;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #222831;
}
